/**
 * COLORS
 * dark - #242426
 * less dark - #3a3a3c
 * lime green - #99d93b
 * golden rod - #deb42a
 * burnt orange - #ff602d
 *
 * light text - #e9e9ea
 */

.app-topper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin: 0 0 20px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.8);
  box-shadow: 0 2px 20rem rgb(0, 0, 0, 0.5);
}

.app-content-wrap {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0 20px;
}

.app-content-wrap + .app-content-wrap {
  padding-top: 20px;
}

.pg-panel {
  width: 300px;
  height: 100px;
  background-color: #ffffff;
  margin: 0 auto 10px;
  transition: width 0.3s ease, height 0.3s ease;
}
